apiVersion: v1
kind: Service
metadata:
  name: openwebui-service
  labels:
    app: openwebui
spec:
  type: {{ .Values.service.type }}
  selector:
    app: openwebui
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      nodePort: {{ .Values.service.nodePort }} 
